<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>321592147810-mdq3mv1225niup8o1v31vh7kfe09q6kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321592147810-mdq3mv1225niup8o1v31vh7kfe09q6kb</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Be_Y4YDsaSqg-tGT8hk_5AZ9TQLPD9c</string>
	<key>GCM_SENDER_ID</key>
	<string>321592147810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.happy.InstagramLikeSystem</string>
	<key>PROJECT_ID</key>
	<string>instagramlikesystem</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramlikesystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321592147810:ios:786c0247cc85a032</string>
	<key>DATABASE_URL</key>
	<string>https://instagramlikesystem.firebaseio.com</string>
</dict>
</plist>